blinker==1.7.0
certifi==2023.7.22
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
docopt==0.6.2
flash==1.0.3
Flask==3.0.0
flask-googlemaps==0.4.1
Flask-SQLAlchemy==3.1.1
Flask-WTF==1.2.1
ghp-import==2.1.0
greenlet==3.0.1
gunicorn==21.2.0
htmlmin==0.1.12
idna==3.4
iniconfig==2.0.0
itsdangerous==2.1.2
Jinja2==3.1.2
jsmin==3.0.1
Markdown==3.5.1
MarkupSafe==2.1.3
mergedeep==1.3.4
mkdocs==1.5.3
mkdocs-material==5.5.14
mkdocs-material-extensions==1.3
mkdocs-minify-plugin==0.3.0
mysql-connector-python==8.2.0
numpy==1.26.2
packaging==23.2
pandas==2.1.3
pathspec==0.11.2
pipreqs==0.4.13
platformdirs==4.0.0
pluggy==1.3.0
postgres==4.0
protobuf==4.21.12
psycopg2==2.9.9
psycopg2-binary==2.9.9
psycopg2-pool==1.1
Pygments==2.16.1
pymdown-extensions==10.4
pytest==7.4.3
python-dateutil==2.8.2
pytz==2023.3.post1
PyYAML==6.0.1
pyyaml_env_tag==0.1
requests==2.31.0
setuptools==68.0.0
six==1.16.0
SQLAlchemy==2.0.23
typing_extensions==4.8.0
tzdata==2023.3
urllib3==2.1.0
watchdog==3.0.0
Werkzeug==3.0.1
wheel==0.41.2
WTForms==3.1.1
yarg==0.1.9
