	/* CSS code for page and component styles */
	.mediaViewInfo {
		--web-view-name: FAQPage;
		--web-view-id: FAQPage;
		--web-scale-on-resize: true;
		--web-enable-deep-linking: true;
	}
	:root {
		--web-view-ids: FAQPage;
	}
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		border: none;
		font-family: Trebuchet MS; 
	}
	.faq-item {
		margin-bottom: 10px;
	}
		
	.faq-question {
		padding: 10px;
		background-color: #FFF;
		border: 1px solid #707070;
		cursor: pointer;
		display: flex;
		justify-content: space-between;
		width: 1143px;
		height: 100px;
		align-items: center;
	}
		
	.faq-answer {
		display: none;
		padding: 10px;
		background-color: #FFF;
		border: 1px solid #707070;
		border-top: none;
	}
		
	.plus-icon {
		font-weight: bold;
		font-size: xxx-large;
	}
	
	#FAQPage {
		position: absolute;
		width: 1920px;
		height: 1016px;
		background-color: rgba(255,255,255,1);
		overflow: hidden;
		--web-view-name: FAQPage;
		--web-view-id: FAQPage;
		--web-scale-on-resize: true;
		--web-enable-deep-linking: true;
	}
	@keyframes  {
	
	
	}
	@keyframes  {
	
	
	}
	@keyframes  {
	
	
	}
	#Component_14__9 {
		position: absolute;
		width: 147px;
		height: 33px;
		left: 1742px;
		top: 32px;
		overflow: visible;
		--web-animation: fadein undefineds undefined;
		--web-action-type: page;
		--web-action-target: logbook;
		cursor: pointer;
	}
	#My_Logbook_ {
		left: 0px;
		top: 0px;
		position: absolute;
		overflow: visible;
		width: 148px;
		white-space: nowrap;
		text-align: left;
		font-family: Adobe Clean;
		font-style: normal;
		font-weight: bold;
		font-size: 27px;
		color: rgba(70,69,69,1);
	}
	#Icon_awesome-user-alt {
		fill: rgba(70,69,69,1);
	}
	.Icon_awesome-user-alt {
		overflow: visible;
		position: absolute;
		width: 27px;
		height: 27px;
		left: 1703.3px;
		top: 33px;
		transform: matrix(1,0,0,1,0,0);
	}
	#n__ {
		left: 841px;
		top: 198px;
		position: absolute;
		overflow: visible;
		width: 1px;
		white-space: nowrap;
		text-align: left;
		font-family: Helvetica Neue;
		font-style: normal;
		font-weight: bold;
		font-size: 25px;
		color: rgba(112,112,112,1);
	}
	#Rectangle_66 {
		fill: rgba(112,112,112,1);
	}
	.Rectangle_66 {
		position: absolute;
		overflow: visible;
		width: 341px;
		height: 1016px;
		left: 0px;
		top: 0px;
	}
	#Repeat_Grid_2 {
		position: absolute;
		width: 260px;
		height: 330px;
		left: 32px;
		top: 164px;
		overflow: hidden;
	}
	#Group {
		position: absolute;
		width: 208px;
		height: 26px;
		left: 13px;
		top: -2px;
		overflow: visible;
	}
	#Asthma_Information {
		left: 0px;
		top: 0px;
		position: absolute;
		overflow: visible;
		width: 209px;
		white-space: nowrap;
		text-align: left;
		font-family: Helvetica Neue;
		--web-animation: fadein undefineds undefined;
		--web-action-type: page;
		--web-action-target: asthmainfo;
		cursor: pointer;
		font-style: normal;
		font-weight: bold;
		font-size: 22px;
		color: rgba(255,255,255,1);
	}
	#Group_ {
		position: absolute;
		width: 208px;
		height: 26px;
		left: 262px;
		top: -2px;
		overflow: visible;
	}
	#Asthma_Information_ {
		left: 0px;
		top: 0px;
		position: absolute;
		overflow: visible;
		width: 209px;
		white-space: nowrap;
		text-align: left;
		font-family: Helvetica Neue;
		font-style: normal;
		font-weight: bold;
		font-size: 22px;
		color: rgba(255,255,255,1);
	}
	#Group_ba {
		position: absolute;
		width: 241px;
		height: 26px;
		left: 13px;
		top: 64px;
		overflow: visible;
	}
	#Air_Quality_Info {
		left: 0px;
		top: 0px;
		position: absolute;
		overflow: visible;
		width: 242px;
		white-space: nowrap;
		text-align: left;
		font-family: Helvetica Neue;
		font-style: normal;
		--web-animation: fadein undefineds undefined;
		--web-action-type: page;
		--web-action-target: mapinfo;
		cursor: pointer;
		font-weight: bold;
		font-size: 22px;
		color: rgba(255,255,255,1);
	}
	#Group_bb {
		position: absolute;
		width: 208px;
		height: 26px;
		left: 262px;
		top: 64px;
		overflow: visible;
	}
	#Asthma_Information_ba {
		left: 0px;
		top: 0px;
		position: absolute;
		overflow: visible;
		width: 209px;
		white-space: nowrap;
		text-align: left;
		font-family: Helvetica Neue;
		font-style: normal;
		font-weight: bold;
		font-size: 22px;
		color: rgba(255,255,255,1);
	}
	#Group_bc {
		position: absolute;
		width: 219px;
		height: 26px;
		left: 13px;
		top: 130px;
		overflow: visible;
	}
	#Air_Quality_Statistics_ {
		left: 0px;
		top: 0px;
		position: absolute;
		overflow: visible;
		width: 220px;
		white-space: nowrap;
		text-align: left;
		font-family: Helvetica Neue;
		font-style: normal;
		font-weight: bold;
		font-size: 22px;
		color: rgba(255,255,255,1);
	}
	#Group_bd {
		position: absolute;
		width: 208px;
		height: 26px;
		left: 262px;
		top: 130px;
		overflow: visible;
	}
	#Asthma_Information_bc {
		left: 0px;
		top: 0px;
		position: absolute;
		overflow: visible;
		width: 209px;
		white-space: nowrap;
		text-align: left;
		font-family: Helvetica Neue;
		font-style: normal;
		font-weight: bold;
		font-size: 22px;
		color: rgba(255,255,255,1);
	}
	#Group_be {
		position: absolute;
		width: 44px;
		height: 26px;
		left: 13px;
		top: 130px;
		overflow: visible;
	}
	#FAQ {
		left: 0px;
		top: 0px;
		position: absolute;
		overflow: visible;
		width: 45px;
		white-space: nowrap;
		text-align: left;
		font-family: Helvetica Neue;
		font-style: normal;
		font-weight: bold;
		font-size: 22px;
		color: rgba(255,255,255,1);
	}
	#Group_bf {
		position: absolute;
		width: 208px;
		height: 26px;
		left: 262px;
		top: 196px;
		overflow: visible;
	}
	#Asthma_Information_bg {
		left: 0px;
		top: 0px;
		position: absolute;
		overflow: visible;
		width: 209px;
		white-space: nowrap;
		text-align: left;
		font-family: Helvetica Neue;
		font-style: normal;
		font-weight: bold;
		font-size: 22px;
		color: rgba(255,255,255,1);
	}
	#Group_bh {
		position: absolute;
		width: 121px;
		height: 26px;
		left: 13px;
		top: 262px;
		overflow: visible;
	}
	#Learn_More {
		left: 0px;
		top: 0px;
		position: absolute;
		overflow: visible;
		width: 122px;
		white-space: nowrap;
		text-align: left;
		font-family: Helvetica Neue;
		font-style: normal;
		font-weight: bold;
		font-size: 22px;
		color: rgba(255,255,255,1);
	}
	#Group_bj {
		position: absolute;
		width: 208px;
		height: 26px;
		left: 262px;
		top: 262px;
		overflow: visible;
	}
	#Asthma_Information_bk {
		left: 0px;
		top: 0px;
		position: absolute;
		overflow: visible;
		width: 209px;
		white-space: nowrap;
		text-align: left;
		font-family: Helvetica Neue;
		font-style: normal;
		font-weight: bold;
		font-size: 22px;
		color: rgba(255,255,255,1);
	}
	#Koffing {
		left: 92px;
		top: 61px;
		position: absolute;
		overflow: visible;
		width: 112px;
		white-space: nowrap;
		text-align: left;
		font-family: Adobe Clean;
		font-style: normal;
		font-weight: bold;
		font-size: 37px;
		color: rgba(255,255,255,1);
	}
	#puffer {
		position: absolute;
		width: 82px;
		height: 89px;
		left: 21px;
		top: 27px;
		overflow: visible;
	}
	#Line_20 {
		fill: transparent;
		stroke: rgba(255,255,255,1);
		stroke-width: 1.5px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Line_20 {
		overflow: visible;
		position: absolute;
		width: 251.006px;
		height: 2.5px;
		left: 22px;
		top: 125px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Logout {
		left: 86px;
		top: 703px;
		position: absolute;
		overflow: visible;
		width: 93px;
		white-space: nowrap;
		text-align: left;
		font-family: Helvetica Neue;
		font-style: normal;
		font-weight: bold;
		font-size: 22px;
		color: rgba(255,255,255,1);
	}
	#Icon_feather-logout {
		position: absolute;
		width: 27px;
		height: 25.5px;
		left: 48.5px;
		top: 702.743px;
		overflow: visible;
	}
	#Path_21 {
		fill: transparent;
		stroke: rgba(255,255,255,1);
		stroke-width: 3px;
		stroke-linejoin: round;
		stroke-linecap: round;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Path_21 {
		overflow: visible;
		position: absolute;
		width: 12px;
		height: 12px;
		left: 9px;
		top: 8.25px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_22 {
		fill: transparent;
		stroke: rgba(255,255,255,1);
		stroke-width: 3px;
		stroke-linejoin: round;
		stroke-linecap: round;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Path_22 {
		overflow: visible;
		position: absolute;
		width: 30px;
		height: 28.5px;
		left: 0px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Home {
		left: 86px;
		top: 755px;
		position: absolute;
		overflow: visible;
		width: 63px;
		white-space: nowrap;
		--web-animation: fadein undefineds undefined;
		--web-action-type: page;
		--web-action-target: home;
		cursor: pointer;
		text-align: left;
		font-family: Helvetica Neue;
		font-style: normal;
		font-weight: bold;
		font-size: 22px;
		color: rgba(255,255,255,1);
	}
	#Icon_awesome-home {
		fill: rgba(255,255,255,1);
	}
	.Icon_awesome-home {
		overflow: visible;
		position: absolute;
		width: 28.709px;
		height: 24.042px;
		left: 48.5px;
		top: 755.431px;
		transform: matrix(1,0,0,1,0,0);
		--web-animation: fadein undefineds undefined;
		--web-action-type: page;
		--web-action-target: home;
		cursor: pointer;
	}
	#Component_37__7 {
		position: absolute;
		width: 1143px;
		height: 81px;
		left: 542px;
		top: 700px;
		overflow: visible;
	}
	#Component_167__1 {
		position: absolute;
		width: 1143px;
		height: 81px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Rectangle_57 {
		fill: rgba(255,255,255,1);
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_57 {
		position: absolute;
		overflow: visible;
		width: 1143px;
		height: 81px;
		left: 0px;
		top: 0px;
	}
	#Group_7 {
		position: absolute;
		width: 27px;
		height: 25px;
		left: 1036.5px;
		top: 28px;
		overflow: visible;
	}
	#Line_17 {
		fill: transparent;
		stroke: rgba(55,112,219,1);
		stroke-width: 2px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Line_17 {
		overflow: visible;
		position: absolute;
		width: 2px;
		height: 25px;
		left: 14px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Line_18 {
		fill: transparent;
		stroke: rgba(55,112,219,1);
		stroke-width: 2px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Line_18 {
		overflow: visible;
		position: absolute;
		width: 27px;
		height: 2px;
		left: 0px;
		top: 12px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Component_166__1 {
		position: absolute;
		width: 513px;
		height: 37px;
		left: 82px;
		top: 22px;
		overflow: visible;
	}
	#How_often_do_I_need_to_renew_m {
		left: 0px;
		top: 0px;
		position: absolute;
		overflow: visible;
		width: 514px;
		white-space: nowrap;
		text-align: left;
		font-family: Adobe Clean;
		font-style: normal;
		font-weight: normal;
		font-size: 30px;
		color: rgba(0,0,0,1);
	}
	#Component_37__8 {
		position: absolute;
		width: 1143px;
		height: 81px;
		left: 542px;
		top: 554px;
		overflow: visible;
	}
	#Component_167__1_b {
		position: absolute;
		width: 1143px;
		height: 81px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Rectangle_57_b {
		fill: rgba(255,255,255,1);
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_57_b {
		position: absolute;
		overflow: visible;
		width: 1143px;
		height: 81px;
		left: 0px;
		top: 0px;
	}
	#Group_7_b {
		position: absolute;
		width: 27px;
		height: 25px;
		left: 1036.5px;
		top: 28px;
		overflow: visible;
	}
	#Line_17_b {
		fill: transparent;
		stroke: rgba(55,112,219,1);
		stroke-width: 2px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Line_17_b {
		overflow: visible;
		position: absolute;
		width: 2px;
		height: 25px;
		left: 14px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Line_18_b {
		fill: transparent;
		stroke: rgba(55,112,219,1);
		stroke-width: 2px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Line_18_b {
		overflow: visible;
		position: absolute;
		width: 27px;
		height: 2px;
		left: 0px;
		top: 12px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Component_166__1_b {
		position: absolute;
		width: 567px;
		height: 37px;
		left: 82px;
		top: 22px;
		overflow: visible;
	}
	#How_does_Air_Pollution_affect_ {
		left: 0px;
		top: 0px;
		position: absolute;
		overflow: visible;
		width: 568px;
		white-space: nowrap;
		text-align: left;
		font-family: Adobe Clean;
		font-style: normal;
		font-weight: normal;
		font-size: 30px;
		color: rgba(0,0,0,1);
	}
	#Component_37__9 {
		position: absolute;
		width: 1143px;
		height: 81px;
		left: 542px;
		top: 408px;
		overflow: visible;
	}
	#Rectangle_57_cb {
		fill: rgba(255,255,255,1);
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_57_cb {
		position: absolute;
		overflow: visible;
		width: 1143px;
		height: 81px;
		left: 0px;
		top: 0px;
	}
	#Group_7_cc {
		position: absolute;
		width: 27px;
		height: 25px;
		left: 1036.5px;
		top: 28px;
		overflow: visible;
	}
	#Line_17_cd {
		fill: transparent;
		stroke: rgba(55,112,219,1);
		stroke-width: 2px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Line_17_cd {
		overflow: visible;
		position: absolute;
		width: 2px;
		height: 25px;
		left: 14px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Line_18_ce {
		fill: transparent;
		stroke: rgba(55,112,219,1);
		stroke-width: 2px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Line_18_ce {
		overflow: visible;
		position: absolute;
		width: 27px;
		height: 2px;
		left: 0px;
		top: 12px;
		transform: matrix(1,0,0,1,0,0);
	}
	#How_can_I_use_Koffing {
		left: 82px;
		top: 22px;
		position: absolute;
		overflow: visible;
		width: 276px;
		white-space: nowrap;
		text-align: left;
		font-family: Adobe Clean;
		font-style: normal;
		font-weight: normal;
		font-size: 30px;
		color: rgba(0,0,0,1);
	}
	#Frequently_Asked_Questions_ {
		left: 902.5px;
		top: 164px;
		position: absolute;
		overflow: visible;
		width: 423px;
		white-space: nowrap;
		text-align: left;
		font-family: Adobe Clean;
		font-style: normal;
		font-weight: bold;
		font-size: 35px;
		color: rgba(0,0,0,1);
	}
	#Component_37__10 {
		position: absolute;
		width: 1143px;
		height: 81px;
		left: 542px;
		top: 261px;
		overflow: visible;
	}
	#Rectangle_57_ci {
		fill: rgba(255,255,255,1);
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_57_ci {
		position: absolute;
		overflow: visible;
		width: 1143px;
		height: 81px;
		left: 0px;
		top: 0px;
	}
	#Group_7_cj {
		position: absolute;
		width: 27px;
		height: 25px;
		left: 1036.5px;
		top: 28px;
		overflow: visible;
	}
	#Line_17_ck {
		fill: transparent;
		stroke: rgba(55,112,219,1);
		stroke-width: 2px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Line_17_ck {
		overflow: visible;
		position: absolute;
		width: 2px;
		height: 25px;
		left: 14px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Line_18_cl {
		fill: transparent;
		stroke: rgba(55,112,219,1);
		stroke-width: 2px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Line_18_cl {
		overflow: visible;
		position: absolute;
		width: 27px;
		height: 2px;
		left: 0px;
		top: 12px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Why_should_I_use_Koffing {
		left: 82px;
		top: 22px;
		position: absolute;
		overflow: visible;
		width: 313px;
		white-space: nowrap;
		text-align: left;
		font-family: Adobe Clean;
		font-style: normal;
		font-weight: normal;
		font-size: 30px;
		color: rgba(0,0,0,1);
	}