	/* CSS code for page and component styles */
	
	.mediaViewInfo {
		--web-view-name: Home;
		--web-view-id: Home;
		--web-scale-on-resize: true;
		--web-enable-deep-linking: true;
	}
	:root {
		--web-view-ids: web_1920_2;
	}
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		border: none;
		font-family: Trebuchet MS; 
	}
	#Home__1 {
		position: absolute;
		width: 2000px;
		height: 1309px;
		background-color: rgba(255,255,255,1);
		overflow: hidden;
		--web-view-name: Home – 1;
		--web-view-id: Home__1;
		--web-scale-on-resize: true;
		--web-enable-deep-linking: true;
	}
	@keyframes  {
	
	
	}
	@keyframes  {
	
	
	}
	@keyframes  {
	
	
	}
	@keyframes  {
	
	
	}
	@keyframes  {
	
	
	}
	@keyframes  {
	
	
	}
	@keyframes  {
	
	}
	#Component_14__6 {
		position: absolute;
		width: 147px;
		height: 33px;
		left: 1742px;
		top: 32px;
		overflow: visible;
		--web-animation: fadein undefineds undefined;
		--web-action-type: page;
		--web-action-target: logbook;
		cursor: pointer;
	}
	#My_Logbook_ {
		left: -50px;
		top: 0px;
		position: absolute;
		overflow: visible;
		width: 148px;
		white-space: nowrap;
		text-align: left;
		font-family: Trebuchet MS; 
		font-style: normal;
		font-weight: bold;
		--web-animation: fadein undefineds undefined;
		--web-action-type: page;
		--web-action-target: logbook;
		cursor: pointer;
		font-size: 27px;
		color: rgba(70,69,69,1);
	}
	#Icon_awesome-user-alt {
		fill: rgba(70,69,69,1);
	}
	.Icon_awesome-user-alt {
		overflow: visible;
		position: absolute;
		width: 27px;
		height: 27px;
		left: 1650.3px;
		top: 33px;
		transform: matrix(1,0,0,1,0,0);
		--web-animation: fadein undefineds undefined;
		--web-action-type: page;
		--web-action-target: logbook;
		cursor: pointer;
	}
	#n__ {
		left: 688px;
		top: 407px;
		position: absolute;
		overflow: visible;
		width: 1px;
		white-space: nowrap;
		text-align: left;
		font-family: Helvetica Neue;
		font-style: normal;
		font-weight: bold;
		font-size: 25px;
		color: rgba(112,112,112,1);
	}
	#Resources_ {
		left: 400px;
		top: 895px;
		position: absolute;
		overflow: visible;
		width: 162px;
		white-space: nowrap;
		text-align: left;
		font-family: Helvetica Neue;
		font-style: normal;
		font-weight: bold;
		font-size: 30px;
		color: rgba(87,78,78,1);
	}
	#Line_19 {
		fill: transparent;
		stroke: rgba(112,112,112,1);
		stroke-width: 1.5px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Line_19 {
		overflow: visible;
		position: absolute;
		width: 1415.005px;
		height: 6.5px;
		left: 400px;
		top: 940.161px;
		transform: matrix(1,0,0,1,0,0);
	}
	#check_button {
		position: absolute;
		width: 491px;
		height: 664px;
		left: 400px;
		top: 146px;
		overflow: visible;
	}
	rect {
		filter: drop-shadow(0px 8px 6px rgba(0, 0, 0, 0.161))
    }
	#Path_32 {
		fill: rgba(231,240,252,1);
	}
	.Path_32 {
		filter: drop-shadow(0px 8px 6px rgba(0, 0, 0, 0.161));
		overflow: visible;
		position: absolute;
		width: 506px;
		height: 251px;
		left: 0px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Rectangle_67_ {
		fill: url(#Rectangle_67_);
	}
	.Rectangle_67_ {
		filter: drop-shadow(0px 8px 6px rgba(0, 0, 0, 0.161));
		position: absolute;
		overflow: visible;
		width: 509px;
		height: 318px;
		left: 0px;
		top: 364px;
	}
	#Have_you_taken_your__medicatio {
		background-color: transparent;
		left: 469px;
		top: 225px;
		position: absolute;
		overflow: visible;
		width: 550px;
		height: 200px;
		white-space: nowrap;
		text-align: center;
		font-family: Trebuchet MS; 
		font-style: normal;
		font-weight: bold;
		font-size: 60px;
		/* color: rgba(0,0,0,1); */
	}
	#Asthma-Attack-Symptoms-and-Fir {
		filter: drop-shadow(0px 8px 6px rgba(0, 0, 0, 0.161));
		position: absolute;
		width: 435px;
		height: 228px;
		left: 409px;
		top: 969px;
		overflow: visible;
	}
	#Air_Pollution {
		filter: drop-shadow(0px 8px 6px rgba(0, 0, 0, 0.161));
		position: absolute;
		width: 405px;
		height: 228px;
		left: 905px;
		top: 969px;
		overflow: visible;
	}
	#Widget_API {
		left: 533px;
		top: 631px;
		position: absolute;
		overflow: visible;
		width: 163px;
		white-space: nowrap;
		text-align: left;
		font-family: Trebuchet MS; 
		font-style: normal;
		font-weight: bold;
		font-size: 35px;
		color: rgba(0,0,0,1);
	}
	#In_case_of_an_emergency_ {
		left: 1347px;
		top: 985px;
		position: absolute;
		overflow: visible;
		width: 294px;
		white-space: nowrap;
		text-align: left;
		font-family: Trebuchet MS; 
		font-style: normal;
		font-weight: bold;
		font-size: 28px;
		color: rgba(70,69,69,1);
	}
	#Info_info {
		left: 429px;
		top: 1218px;
		position: absolute;
		overflow: visible;
		width: 131px;
		white-space: nowrap;
		text-align: left;
		font-family: Trebuchet MS; 
		font-style: normal;
		font-weight: bold;
		font-size: 27px;
		color: rgba(70,69,69,1);
	}
	#Path_28_be {
		fill: url(#Path_28_be);
	}
	.Path_28_be {
		filter: drop-shadow(0px 8px 6px rgba(0, 0, 0, 0.161));
		overflow: visible;
		position: absolute;
		width: 728.882px;
		height: 764.915px;
		left: 1107.5px;
		top: 146px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Asthma_log {
		left: 1217px;
		top: 189px;
		position: absolute;
		overflow: visible;
		width: 126px;
		white-space: nowrap;
		text-align: left;
		font-family: Trebuchet MS; 
		font-style: normal;
		font-weight: bold;
		font-size: 26px;
		color: rgba(0,0,0,1);
	}
	#Line_21 {
		fill: transparent;
		stroke: rgba(70,69,69,1);
		stroke-width: 1.5px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Line_21 {
		overflow: visible;
		position: absolute;
		width: 677px;
		height: 1.5px;
		left: 1157px;
		top: 234px;
		transform: matrix(1,0,0,1,0,0);
	}
	.aqi-widget {
		width: 600px;
		border-radius: 20px;
		padding: 15px;
		color: white;
		font-family: Arial, sans-serif;
		margin: 10px;
		display: inline-block;
		position: absolute;
		left: 40px;
		top: 330px;
		background-color: gray;
		filter: drop-shadow(0px 8px 6px rgba(0, 0, 0, 0.161))
	}
	.aqi-header {
		font-size: 20px;
		font-weight: bold;
		color: black;
	}
	.aqi-level {
		font-size: 30px;
		margin: 10px 0;
		color: black
	}
	.aqi-value {
		font-size: 40px;
		font-weight: bold;
		color: black
	}
	.aqi-location {
		font-size: 20px;
		margin: 10px 0;
		color: black
	}
	.aqi-health {
		font-size: 16px;
		margin: 10px 0;
		color: black;
		font-weight: bold;
	}
	.aqi-pollutants {
		font-size: 16px;
		margin: 10px 0;
		color: black
	}
	.aqi-update-time {
		font-size: 15px;
		color: black
	}
	#Rectangle_81 {
		fill: rgba(255,255,255,1);
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_81 {
		position: absolute;
		overflow: visible;
		width: 213px;
		height: 75px;
		left: 1204px;
		top: 299px;
	}
	#Rectangle_82 {
		fill: rgba(255,255,255,1);
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_82 {
		position: absolute;
		overflow: visible;
		width: 213px;
		height: 75px;
		left: 1551px;
		top: 299px;
	}
	#Data {
		left: 1204px;
		top: 270px;
		position: absolute;
		overflow: visible;
		width: 57px;
		white-space: nowrap;
		text-align: left;
		font-family: Helvetica Neue;
		font-style: normal;
		font-weight: bold;
		font-size: 25px;
		color: rgba(0,0,0,1);
	}
	#Time {
		left: 1551px;
		top: 270px;
		position: absolute;
		overflow: visible;
		width: 60px;
		white-space: nowrap;
		text-align: left;
		font-family: Helvetica Neue;
		font-style: normal;
		font-weight: bold;
		font-size: 25px;
		color: rgba(0,0,0,1);
	}
	#Component_54__1 {
		position: absolute;
		width: 560px;
		height: 131px;
		left: 1204px;
		top: 427px;
		overflow: visible;
	}
	#Rectangle_83 {
		fill: rgba(255,255,255,1);
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_83 {
		position: absolute;
		overflow: visible;
		width: 560px;
		height: 75px;
		left: 0px;
		top: 56px;
	}
	#Type_of_inhaler {
		left: 0px;
		top: -1px;
		position: absolute;
		overflow: visible;
		width: 182px;
		white-space: nowrap;
		text-align: left;
		font-family: Helvetica Neue;
		font-style: normal;
		font-weight: bold;
		font-size: 25px;
		color: rgba(0,0,0,1);
	}
	#puffer {
		position: absolute;
		width: 55.868px;
		height: 59.031px;
		left: 0px;
		top: 63.984px;
		overflow: visible;
	}
	#Polygon_1 {
		fill: rgba(98,96,96,1);
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Polygon_1 {
		overflow: visible;
		position: absolute;
		width: 25px;
		height: 22px;
		transform: translate(0px, 0px) matrix(1,0,0,1,514,83) rotate(180deg);
		transform-origin: center;
		left: 0px;
		top: 0px;
	}
	#Component_55__1 {
		position: absolute;
		width: 136px;
		height: 169px;
		left: 1310px;
		top: 584px;
		overflow: visible;
	}
	#Rectangle_84 {
		fill: rgba(255,255,255,1);
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_84 {
		position: absolute;
		overflow: visible;
		width: 135px;
		height: 129px;
		left: 1px;
		top: 40px;
	}
	#Dose {
		left: 0px;
		top: -1px;
		position: absolute;
		overflow: visible;
		width: 70px;
		white-space: nowrap;
		text-align: left;
		font-family: Helvetica Neue;
		font-style: normal;
		font-weight: bold;
		font-size: 25px;
		color: rgba(0,0,0,1);
	}
	#Component_56__1 {
		position: absolute;
		width: 156px;
		height: 169px;
		left: 1516px;
		top: 584px;
		overflow: visible;
	}
	#Rectangle_85 {
		fill: rgba(255,255,255,1);
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_85 {
		position: absolute;
		overflow: visible;
		width: 135px;
		height: 129px;
		left: 0px;
		top: 40px;
	}
	#Puff_number {
		left: 0px;
		top: -1px;
		position: absolute;
		overflow: visible;
		width: 154px;
		white-space: nowrap;
		text-align: left;
		font-family: Helvetica Neue;
		font-style: normal;
		font-weight: bold;
		font-size: 25px;
		color: rgba(0,0,0,1);
	}
	#Rectangle_87_bx {
		fill: url(#Rectangle_87_bx);
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_87_bx {
		position: absolute;
		overflow: visible;
		width: 270px;
		height: 87px;
		left: 1357px;
		top: 779px;
	}
	#PUFF_ {
		left: 1437px;
		top: 802px;
		position: absolute;
		overflow: visible;
		width: 90px;
		white-space: nowrap;
		text-align: left;
		font-family: Trebuchet MS; 
		font-style: normal;
		font-weight: bold;
		font-size: 36px;
		color: rgba(0,0,0,1);
	}
	#Icon_akar-check-box {
		position: absolute;
		width: 60px;
		height: 60px;
		left: 780px;
		top: 234px;
		overflow: visible;
	}
	#Path_33 {
		fill: transparent;
		stroke: rgba(0,0,0,1);
		stroke-width: 3px;
		stroke-linejoin: round;
		stroke-linecap: round;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Path_33 {
		overflow: visible;
		position: absolute;
		width: 63px;
		height: 63px;
		left: 0px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_34 {
		fill: transparent;
		stroke: rgba(0,0,0,1);
		stroke-width: 3px;
		stroke-linejoin: round;
		stroke-linecap: round;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Path_34 {
		overflow: visible;
		position: absolute;
		width: 44.167px;
		height: 43.567px;
		left: 10px;
		top: 10px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Rectangle_66 {
		fill: rgba(112,112,112,1);
	}
	.Rectangle_66 {
		filter: drop-shadow(0px 5px 6px rgba(0, 0, 0, 0.161));
		position: absolute;
		overflow: visible;
		width: 359px;
		height: 100%;
		left: 0px;
		top: 0px;
	}
	#Asthma_Information {
		left: 45px;
		top: 200px;
		position: absolute;
		overflow: visible;
		width: 209px;
		white-space: nowrap;
		--web-animation: fadein undefineds undefined;
		--web-action-type: page;
		--web-action-target: asthmainfo;
		cursor: pointer;
		text-align: left;
		font-family: Helvetica Neue;
		font-style: normal;
		font-weight: bold;
		font-size: 22px;
		color: rgba(255,255,255,1);
	}
	#Air_Quality_Info {
		left: 45px;
		top: 267px;
		position: absolute;
		overflow: visible;
		width: 242px;
		white-space: nowrap;
		--web-animation: fadein undefineds undefined;
		--web-action-type: page;
		--web-action-target: mapinfo;
		cursor: pointer;
		text-align: left;
		font-family: Helvetica Neue;
		font-style: normal;
		font-weight: bold;
		font-size: 22px;
		color: rgba(255,255,255,1);
	}
	#Air_Quality_Statistics_ {
		left: 45px;
		top: 333px;
		position: absolute;
		overflow: visible;
		width: 220px;
		white-space: nowrap;
		--web-animation: fadein undefineds undefined;
		--web-action-type: page;
		--web-action-target: airqualitystats;
		cursor: pointer;
		text-align: left;
		font-family: Helvetica Neue;
		font-style: normal;
		font-weight: bold;
		font-size: 22px;
		color: rgba(255,255,255,1);
	}
	#FAQ {
		left: 45px;
		top: 333px;
		position: absolute;
		overflow: visible;
		width: 45px;
		white-space: nowrap;
		--web-animation: fadein undefineds undefined;
		--web-action-type: page;
		--web-action-target: faq;
		cursor: pointer;
		text-align: left;
		font-family: Helvetica Neue;
		font-style: normal;
		font-weight: bold;
		font-size: 22px;
		color: rgba(255,255,255,1);
	}
	#Learn_More {
		left: 45px;
		top: 467px;
		position: absolute;
		overflow: visible;
		width: 122px;
		white-space: nowrap;
		--web-animation: fadein undefineds undefined;
		--web-action-type: page;
		--web-action-target: learnmore;
		cursor: pointer;
		text-align: left;
		font-family: Helvetica Neue;
		font-style: normal;
		font-weight: bold;
		font-size: 22px;
		color: rgba(255,255,255,1);
	}
	#Koffing {
		left: 92px;
		top: 61px;
		position: absolute;
		overflow: visible;
		width: 112px;
		white-space: nowrap;
		text-align: left;
		font-family: Trebuchet MS; 
		font-style: normal;
		font-weight: bold;
		font-size: 37px;
		color: rgba(255,255,255,1);
	}
	#puffer_b {
		position: absolute;
		width: 82px;
		height: 89px;
		left: 21px;
		top: 27px;
		overflow: visible;
	}
	#Line_20 {
		fill: transparent;
		stroke: rgba(255,255,255,1);
		stroke-width: 1.5px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Line_20 {
		overflow: visible;
		position: absolute;
		width: 251.006px;
		height: 2.5px;
		left: 22px;
		top: 125px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Logout {
		left: 86px;
		top: 714px;
		position: absolute;
		overflow: visible;
		width: 93px;
		white-space: nowrap;
		text-align: left;
		font-family: Helvetica Neue;
		font-style: normal;
		font-weight: bold;
		--web-animation: fadein undefineds undefined;
		--web-action-type: page;
		--web-action-target: logout;
		cursor: pointer;
		font-size: 22px;
		color: rgba(255,255,255,1);
	}
	#Icon_feather-logout {
		position: absolute;
		width: 27px;
		height: 25.5px;
		left: 48.5px;
		top: 714.095px;
		overflow: visible;
	}
	#Path_21 {
		fill: transparent;
		stroke: rgba(255,255,255,1);
		stroke-width: 3px;
		stroke-linejoin: round;
		stroke-linecap: round;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Path_21 {
		overflow: visible;
		position: absolute;
		width: 12px;
		height: 12px;
		left: 9px;
		top: 8.25px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_22 {
		fill: transparent;
		stroke: rgba(255,255,255,1);
		stroke-width: 3px;
		stroke-linejoin: round;
		stroke-linecap: round;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Path_22 {
		overflow: visible;
		position: absolute;
		width: 30px;
		height: 28.5px;
		left: 0px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Home {
		left: 86px;
		top: 768px;
		position: absolute;
		overflow: visible;
		width: 63px;
		white-space: nowrap;
		text-align: left;
		font-family: Helvetica Neue;
		font-style: normal;
		font-weight: bold;
		font-size: 22px;
		color: rgba(255,255,255,1);
	}
	#Icon_awesome-home {
		fill: rgba(255,255,255,1);
	}
	.Icon_awesome-home {
		overflow: visible;
		position: absolute;
		width: 28.709px;
		height: 24.042px;
		left: 48.5px;
		top: 767.616px;
		transform: matrix(1,0,0,1,0,0);
	}

	#Puff_button {
		left: 1160px;
		top: 700px;
		position: absolute;
		width: 640px;
		height: 150px;
		text-align: center;
		font-family: Trebuchet MS; 
		font-style: normal;
		font-weight: bold;
		font-size: 50px;
		color: rgba(70,69,69,1);
		border-radius: 20px;
		border-color: black;
		background-color: white;
	}

	#Date_taken {
		left: 1160px;
		top: 300px;
		position: absolute;
		width: 300px;
		height: 60px;
		text-align: center;
		font-family: Trebuchet MS; 
		font-style: normal;
		font-weight: bold;
		font-size: 30px;
		color: rgba(70,69,69,1);
		border-radius: 20px;
		border-color: black;
		background-color: white;
	}

	#Date_taken_label{
		left: 1160px;
		top: 250px;
		position: absolute;
		text-align: center;
		font-family: Trebuchet MS; 
		font-style: normal;
		font-weight: bold;
		font-size: 35px;
		color: rgba(70,69,69,1);
	}
	
	#Time_taken {
		left: 1500px;
		top: 300px;
		position: absolute;
		width: 300px;
		height: 60px;
		text-align: center;
		font-family: Trebuchet MS; 
		font-style: normal;
		font-weight: bold;
		font-size: 30px;
		color: rgba(70,69,69,1);
		border-radius: 20px;
		border-color: black;
		background-color: white;
	}

	#Time_taken_label {
		left: 1500px;
		top: 250px;
		position: absolute;
		text-align: center;
		font-family: Trebuchet MS; 
		font-style: normal;
		font-weight: bold;
		font-size: 35px;
		color: rgba(70,69,69,1);
	}

	#Inhaler_type{
		left: 1160px;
		top: 450px;
		position: absolute;
		width: 300px;
		height: 60px;
		text-align: center;
		font-family: Trebuchet MS; 
		font-style: normal;
		font-weight: bold;
		font-size: 30px;
		color: rgba(70,69,69,1);
		border-radius: 20px;
		border-color: black;
		background-color: white;
	}

	#Inhaler_type_label{
		left: 1160px;
		top: 390px;
		position: absolute;
		text-align: center;
		font-family: Trebuchet MS; 
		font-style: normal;
		font-weight: bold;
		font-size: 35px;
		color: rgba(70,69,69,1);
	}
	
	#Number_of_puffs{
		left: 1500px;
		top: 450px;
		position: absolute;
		width: 300px;
		height: 60px;
		text-align: center;
		font-family: Trebuchet MS; 
		font-style: normal;
		font-weight: bold;
		font-size: 30px;
		color: rgba(70,69,69,1);
		border-radius: 20px;
		border-color: black;
		background-color: white;
	}

	#Number_of_puffs_label{
		left: 1500px;
		top: 390px;
		position: absolute;
		text-align: center;
		font-family: Trebuchet MS; 
		font-style: normal;
		font-weight: bold;
		font-size: 35px;
		color: rgba(70,69,69,1);
	}

	#Dosage{
		left: 1160px;
		top: 600px;
		position: absolute;
		width: 300px;
		height: 60px;
		text-align: center;
		font-family: Trebuchet MS; 
		font-style: normal;
		font-weight: bold;
		font-size: 30px;
		color: rgba(70,69,69,1);
		border-radius: 20px;
		border-color: black;
		background-color: white;
	}

	#Dosage_label{
		left: 1160px;
		top: 540px;
		position: absolute;
		text-align: center;
		font-family: Trebuchet MS; 
		font-style: normal;
		font-weight: bold;
		font-size: 35px;
		color: rgba(70,69,69,1);
	}

	#Medname{
		left: 1500px;
		top: 600px;
		position: absolute;
		width: 300px;
		height: 60px;
		text-align: center;
		font-family: Trebuchet MS; 
		font-style: normal;
		font-weight: bold;
		font-size: 30px;
		color: rgba(70,69,69,1);
		border-radius: 20px;
		border-color: black;
		background-color: white;
	}
	
	#Medname_label{
		left: 1500px;
		top: 540px;
		position: absolute;
		text-align: center;
		font-family: Trebuchet MS; 
		font-style: normal;
		font-weight: bold;
		font-size: 35px;
		color: rgba(70,69,69,1);
	}
