	/* set initial properties for the web view */
	.mediaViewInfo {
		--web-view-name: Initial Page;
		--web-view-id: Initial_Page;
		--web-scale-on-resize: true;
		--web-enable-deep-linking: true;
	}
	:root {
		--web-view-ids: Initial_Page;
	}

	/* Universal reset styles. Maintain consistency and avoid default browser styling */
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		border: none;
		font-family: Trebuchet MS; 
	}

	/* Styles for the main container of the initial page. */
	#Initial_Page {
		position: absolute;
		width: 1920px;
		height: 1080px;
		background-color: rgba(231,240,252,1);
		overflow: hidden;
		--web-view-name: Initial Page;
		--web-view-id: Initial_Page;
		--web-scale-on-resize: true;
		--web-enable-deep-linking: true;
	}
	@keyframes  {
	
	
	}
	@keyframes  {
	
	/* Heading and subheading */
	}
	#WELCOME_TO_KOFFING__An_Imperia {
		left: 325px;
		top: 418px;
		position: absolute;
		overflow: visible;
		width: 1269px;
		white-space: nowrap;
		text-align: center;
		font-family: Adobe Clean;
		font-style: normal;
		font-weight: bold;
		font-size: 40px;
		color: rgba(0,0,0,1);
	}

    /* Adding the buttons */
	#LogIn_Button {
		position: absolute;
		width: 436.673px;
		height: 85px;
		left: 425.268px;
		top: 591px;
		overflow: visible;
		--web-animation: fadein undefineds undefined;
		--web-action-type: page;
		--web-action-target: /login;
		cursor: pointer;
	}
	#Component_2__1 {
		position: absolute;
		width: 436.673px;
		height: 85px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Rectangle_7 {
		fill: rgba(255,255,255,1);
		stroke: rgba(255,255,255,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_7 {
		position: absolute;
		overflow: visible;
		width: 436.673px;
		height: 85px;
		left: 0px;
		top: 0px;
	}
	#Log_In {
		left: 180.746px;
		top: 22px;
		position: absolute;
		overflow: visible;
		width: 84px;
		white-space: nowrap;
		text-align: left;
		font-family: Adobe Clean;
		font-style: normal;
		font-weight: bold;
		font-size: 32px;
		color: rgba(55,112,219,1);
	}
	#Account_Button {
		position: absolute;
		width: 437.672px;
		height: 85px;
		left: 1039.063px;
		top: 591px;
		overflow: visible;
	}
	#Rectangle_9 {
		fill: rgba(255,255,255,1);
		stroke: rgba(255,255,255,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_9 {
		position: absolute;
		overflow: visible;
		width: 436.672px;
		height: 85px;
		left: 0px;
		top: 0px;
	}
	#Create_Account_ {
		left: 120.444px;
		top: 24px;
		position: absolute;
		overflow: visible;
		width: 199px;
		white-space: nowrap;
		--web-animation: fadein undefineds undefined;
		--web-action-type: page;
		--web-action-target: /signup;
		cursor: pointer;
		text-align: left;
		font-family: Adobe Clean;
		font-style: normal;
		font-weight: bold;
		font-size: 30px;
		color: rgba(55,112,219,1);
	}
	#Text {
		left: 778px;
		top: 341px;
		position: absolute;
		overflow: visible;
		width: 1px;
		white-space: nowrap;
		text-align: left;
		font-family: Adobe Clean;
		font-style: italic;
		font-weight: normal;
		font-size: 35px;
		color: rgba(112,112,112,1);
	}

	/* Images on the side of the screen */
	#Asthma {
		position: absolute;
		width: 612px;
		height: 612px;
		left: -102px;
		top: 466px;
		overflow: visible;
	}
	#puffer_cartoon {
		position: absolute;
		width: 704px;
		height: 540px;
		left: 1476.734px;
		top: 538px;
		overflow: visible;
	}

	/* Add the button hovering and change of colour */
	#LogIn_Button:hover  #Log_In{
		fill:transparent;
	    color: white; 
	}
	#LogIn_Button:hover #Rectangle_7{
		fill:transparent;
        fill: url(#blueGradient); 
	}
	#Account_Button:hover #Rectangle_9{
		fill:transparent;
        fill: url(#blueGradient); 
	}
	#Account_Button:hover #Create_Account_ {
		fill:transparent;
	    color: white; 
	}
	