	.mediaViewInfo {
		--web-view-name: Logbook;
		--web-view-id: Logbook;
		--web-scale-on-resize: true;
		--web-enable-deep-linking: true;
	}
	:root {
		--web-view-ids: Logbook;
	}
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		border: none;
	}
	#Logbook {
		position: absolute;
		width: 1920px;
		height: 1080px;
		background-color: rgba(231,240,252,1);
		overflow: hidden;
		--web-view-name: Logbook;
		--web-view-id: Logbook;
		--web-scale-on-resize: true;
		--web-enable-deep-linking: true;
	}
	@keyframes  {
	
	
	}
	#Component_13__3 {
		position: absolute;
		width: 474px;
		height: 364px;
		left: 82px;
		top: 671px;
		overflow: visible;
	}
	#Rectangle_25 {
		fill: rgba(255,255,255,1);
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_25 {
		position: absolute;
		overflow: visible;
		width: 474px;
		height: 62px;
		left: 0px;
		top: 302px;
	}
	#Rectangle_17 {
		fill: rgba(255,255,255,1);
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_17 {
		position: absolute;
		overflow: visible;
		width: 474px;
		height: 364px;
		left: 0px;
		top: 0px;
	}
	#Rectangle_20 {
		fill: rgba(245,208,236,1);
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_20 {
		position: absolute;
		overflow: visible;
		width: 474px;
		height: 61px;
		left: 0px;
		top: 0px;
	}
	#Rectangle_21 {
		fill: rgba(255,255,255,1);
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_21 {
		position: absolute;
		overflow: visible;
		width: 474px;
		height: 62px;
		left: 0px;
		top: 61px;
	}
	#Rectangle_22 {
		fill: rgba(255,255,255,1);
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_22 {
		position: absolute;
		overflow: visible;
		width: 474px;
		height: 62px;
		left: 0px;
		top: 120px;
	}
	#Rectangle_23 {
		fill: rgba(255,255,255,1);
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_23 {
		position: absolute;
		overflow: visible;
		width: 474px;
		height: 62px;
		left: 0px;
		top: 181px;
	}
	#Rectangle_24 {
		fill: rgba(255,255,255,1);
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_24 {
		position: absolute;
		overflow: visible;
		width: 474px;
		height: 62px;
		left: 0px;
		top: 242px;
	}
	#Type_of_medication_ {
		left: 7px;
		top: 74px;
		position: absolute;
		overflow: visible;
		width: 185px;
		white-space: nowrap;
		text-align: left;
		font-family: Adobe Clean;
		font-style: italic;
		font-weight: normal;
		font-size: 25px;
		color: rgba(0,0,0,1);
	}
	#Dosage_Amount_ {
		left: 0px;
		top: 132px;
		position: absolute;
		overflow: visible;
		width: 159px;
		white-space: nowrap;
		text-align: left;
		font-family: Adobe Clean;
		font-style: italic;
		font-weight: normal;
		font-size: 25px;
		color: rgba(0,0,0,1);
	}
	#Number_of_puffs {
		left: 4px;
		top: 198px;
		position: absolute;
		overflow: visible;
		width: 158px;
		white-space: nowrap;
		text-align: left;
		font-family: Adobe Clean;
		font-style: italic;
		font-weight: normal;
		font-size: 25px;
		color: rgba(0,0,0,1);
	}
	#Time_taken {
		left: 4px;
		top: 317.734px;
		position: absolute;
		overflow: visible;
		width: 109px;
		white-space: nowrap;
		text-align: left;
		font-family: Adobe Clean;
		font-style: italic;
		font-weight: normal;
		font-size: 25px;
		color: rgba(0,0,0,1);
	}
	#Date_Taken {
		left: 4px;
		top: 256.201px;
		position: absolute;
		overflow: visible;
		width: 110px;
		white-space: nowrap;
		text-align: left;
		font-family: Adobe Clean;
		font-style: italic;
		font-weight: normal;
		font-size: 25px;
		color: rgba(0,0,0,1);
	}
	#Component_13__1 {
		position: absolute;
		width: 474px;
		height: 491px;
		left: 82px;
		top: 148px;
		overflow: visible;
	}
	#Rectangle_17_ {
		fill: rgba(255,255,255,1);
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_17_ {
		position: absolute;
		overflow: visible;
		width: 474px;
		height: 491px;
		left: 0px;
		top: 0px;
	}
	#Rectangle_20_ {
		fill: rgba(245,208,236,1);
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_20_ {
		position: absolute;
		overflow: visible;
		width: 474px;
		height: 61px;
		left: 0px;
		top: 0px;
	}
	#Rectangle_21_ {
		fill: rgba(255,255,255,1);
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_21_ {
		position: absolute;
		overflow: visible;
		width: 474px;
		height: 62px;
		left: 0px;
		top: 61px;
	}
	#Rectangle_22_ {
		fill: rgba(255,255,255,1);
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_22_ {
		position: absolute;
		overflow: visible;
		width: 474px;
		height: 62px;
		left: 0px;
		top: 119px;
	}
	#Rectangle_23_ {
		fill: rgba(255,255,255,1);
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_23_ {
		position: absolute;
		overflow: visible;
		width: 474px;
		height: 62px;
		left: 0px;
		top: 179px;
	}
	#Rectangle_24_ {
		fill: rgba(255,255,255,1);
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_24_ {
		position: absolute;
		overflow: visible;
		width: 474px;
		height: 62px;
		left: 0px;
		top: 240px;
	}
	#Rectangle_25_ba {
		fill: rgba(255,255,255,1);
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_25_ba {
		position: absolute;
		overflow: visible;
		width: 474px;
		height: 62px;
		left: 0px;
		top: 299px;
	}
	#Name {
		left: 7px;
		top: 74px;
		position: absolute;
		overflow: visible;
		width: 60px;
		white-space: nowrap;
		text-align: left;
		font-family: Adobe Clean;
		font-style: italic;
		font-weight: normal;
		font-size: 25px;
		color: rgba(0,0,0,1);
	}
	#Surname {
		left: 3px;
		top: 136px;
		position: absolute;
		overflow: visible;
		width: 88px;
		white-space: nowrap;
		text-align: left;
		font-family: Adobe Clean;
		font-style: italic;
		font-weight: normal;
		font-size: 25px;
		color: rgba(0,0,0,1);
	}
	#Email {
		left: 3px;
		top: 196px;
		position: absolute;
		overflow: visible;
		width: 57px;
		white-space: nowrap;
		text-align: left;
		font-family: Adobe Clean;
		font-style: italic;
		font-weight: normal;
		font-size: 25px;
		color: rgba(0,0,0,1);
	}
	#Date_of_Birth {
		left: 4px;
		top: 315px;
		position: absolute;
		overflow: visible;
		width: 125px;
		white-space: nowrap;
		text-align: left;
		font-family: Adobe Clean;
		font-style: italic;
		font-weight: normal;
		font-size: 25px;
		color: rgba(0,0,0,1);
	}
	#Address {
		left: 3px;
		top: 363px;
		position: absolute;
		overflow: visible;
		width: 79px;
		white-space: nowrap;
		text-align: left;
		font-family: Adobe Clean;
		font-style: italic;
		font-weight: normal;
		font-size: 25px;
		color: rgba(0,0,0,1);
	}
	#Phone_Number {
		left: 4px;
		top: 254px;
		position: absolute;
		overflow: visible;
		width: 149px;
		white-space: nowrap;
		text-align: left;
		font-family: Adobe Clean;
		font-style: italic;
		font-weight: normal;
		font-size: 25px;
		color: rgba(0,0,0,1);
	}
	#Component_15__1 {
		position: absolute;
		width: 1920px;
		height: 93px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Rectangle_13 {
		fill: rgba(112,112,112,1);
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_13 {
		position: absolute;
		overflow: visible;
		width: 1920px;
		height: 93px;
		left: 0px;
		top: 0px;
	}
	#Ellipse_6 {
		fill: rgba(245,208,236,1);
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Ellipse_6 {
		position: absolute;
		overflow: visible;
		width: 85px;
		height: 84px;
		left: 23px;
		top: 2px;
	}
	#puffer_cartoon {
		position: absolute;
		width: 84px;
		height: 64px;
		left: 32px;
		top: 9px;
		overflow: visible;
	}
	#Name_Surname_ {
		left: 125px;
		top: 31px;
		position: absolute;
		overflow: visible;
		width: 183px;
		white-space: nowrap;
		text-align: left;
		font-family: Adobe Clean;
		font-style: normal;
		font-weight: bold;
		font-size: 27px;
		color: rgba(255,255,255,1);
	}
	#Component_13__2 {
		position: absolute;
		width: 474px;
		height: 491px;
		left: 723px;
		top: 148px;
		overflow: visible;
	}
	#Rectangle_17_bn {
		fill: rgba(255,255,255,1);
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_17_bn {
		position: absolute;
		overflow: visible;
		width: 474px;
		height: 491px;
		left: 0px;
		top: 0px;
	}
	#Rectangle_20_bo {
		fill: rgba(245,208,236,1);
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_20_bo {
		position: absolute;
		overflow: visible;
		width: 474px;
		height: 61px;
		left: 0px;
		top: 0px;
	}
	#Rectangle_21_bp {
		fill: rgba(255,255,255,1);
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_21_bp {
		position: absolute;
		overflow: visible;
		width: 474px;
		height: 62px;
		left: 0px;
		top: 61px;
	}
	#Rectangle_22_bq {
		fill: rgba(255,255,255,1);
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_22_bq {
		position: absolute;
		overflow: visible;
		width: 474px;
		height: 62px;
		left: 0px;
		top: 119px;
	}
	#Rectangle_23_br {
		fill: rgba(255,255,255,1);
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_23_br {
		position: absolute;
		overflow: visible;
		width: 474px;
		height: 62px;
		left: 0px;
		top: 179px;
	}
	#Rectangle_24_bs {
		fill: rgba(255,255,255,1);
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_24_bs {
		position: absolute;
		overflow: visible;
		width: 474px;
		height: 62px;
		left: 0px;
		top: 240px;
	}
	#Rectangle_25_bt {
		fill: rgba(255,255,255,1);
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_25_bt {
		position: absolute;
		overflow: visible;
		width: 474px;
		height: 62px;
		left: 0px;
		top: 299px;
	}
	#GP_Name {
		left: 7px;
		top: 74px;
		position: absolute;
		overflow: visible;
		width: 94px;
		white-space: nowrap;
		text-align: left;
		font-family: Adobe Clean;
		font-style: italic;
		font-weight: normal;
		font-size: 25px;
		color: rgba(0,0,0,1);
	}
	#GP_Surname {
		left: 3px;
		top: 136px;
		position: absolute;
		overflow: visible;
		width: 123px;
		white-space: nowrap;
		text-align: left;
		font-family: Adobe Clean;
		font-style: italic;
		font-weight: normal;
		font-size: 25px;
		color: rgba(0,0,0,1);
	}
	#GP_surgery_code {
		left: 3px;
		top: 196px;
		position: absolute;
		overflow: visible;
		width: 159px;
		white-space: nowrap;
		text-align: left;
		font-family: Adobe Clean;
		font-style: italic;
		font-weight: normal;
		font-size: 25px;
		color: rgba(0,0,0,1);
	}
	#Date_of_Birth_bx {
		left: 4px;
		top: 315px;
		position: absolute;
		overflow: visible;
		width: 125px;
		white-space: nowrap;
		text-align: left;
		font-family: Adobe Clean;
		font-style: italic;
		font-weight: normal;
		font-size: 25px;
		color: rgba(0,0,0,1);
	}
	#GP_Address {
		left: 4px;
		top: 363px;
		position: absolute;
		overflow: visible;
		width: 112px;
		white-space: nowrap;
		text-align: left;
		font-family: Adobe Clean;
		font-style: italic;
		font-weight: normal;
		font-size: 25px;
		color: rgba(0,0,0,1);
	}
	#Telephone_Number {
		left: 4px;
		top: 254px;
		position: absolute;
		overflow: visible;
		width: 186px;
		white-space: nowrap;
		text-align: left;
		font-family: Adobe Clean;
		font-style: italic;
		font-weight: normal;
		font-size: 25px;
		color: rgba(0,0,0,1);
	}
	#Home {
		left: 1776px;
		top: 32px;
		position: absolute;
		overflow: visible;
		width: 72px;
		white-space: nowrap;
		text-align: left;
		font-family: Helvetica Neue;
		font-style: normal;
		font-weight: bold;
		font-size: 25px;
		color: rgba(255,255,255,1);
	}
	#Icon_awesome-home {
		fill: rgba(255,255,255,1);
	}
	.Icon_awesome-home {
		overflow: visible;
		position: absolute;
		width: 28.709px;
		height: 24.042px;
		left: 1736.006px;
		top: 34.479px;
		transform: matrix(1,0,0,1,0,0);
		--web-animation: fadein undefineds undefined;
		--web-action-type: page;
		--web-action-target: Web_1920___7.html;
		cursor: pointer;
	}
	#Patient {
		left: 91px;
		top: 166px;
		position: absolute;
		overflow: visible;
		width: 85px;
		white-space: nowrap;
		text-align: left;
		font-family: Helvetica Neue;
		font-style: normal;
		font-weight: bold;
		font-size: 25px;
		color: rgba(0,0,0,1);
	}
	#Medication {
		left: 91px;
		top: 689px;
		position: absolute;
		overflow: visible;
		width: 134px;
		white-space: nowrap;
		text-align: left;
		font-family: Helvetica Neue;
		font-style: normal;
		font-weight: bold;
		font-size: 25px;
		color: rgba(0,0,0,1);
	}
	#Path_18 {
		fill: rgba(245,208,236,1);
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Path_18 {
		overflow: visible;
		position: absolute;
		width: 474px;
		height: 61px;
		left: 723px;
		top: 671px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Component_18__2 {
		position: absolute;
		width: 32px;
		height: 29px;
		left: 754px;
		top: 687px;
		overflow: visible;
	}
	#Rectangle_48 {
		fill: rgba(255,255,255,1);
		stroke: rgba(112,112,112,1);
		stroke-width: 2px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_48 {
		position: absolute;
		overflow: visible;
		width: 32px;
		height: 29px;
		left: 0px;
		top: 0px;
	}
	#Line_9 {
		fill: transparent;
		stroke: rgba(112,112,112,1);
		stroke-width: 2px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Line_9 {
		overflow: visible;
		position: absolute;
		width: 2px;
		height: 20px;
		left: 16.421px;
		top: 5.1px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Line_10 {
		fill: transparent;
		stroke: rgba(112,112,112,1);
		stroke-width: 2px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Line_10 {
		overflow: visible;
		position: absolute;
		width: 16px;
		height: 2px;
		left: 8.5px;
		top: 14.5px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Medication_b {
		left: 804px;
		top: 687px;
		position: absolute;
		overflow: visible;
		width: 134px;
		white-space: nowrap;
		text-align: left;
		font-family: Helvetica Neue;
		font-style: normal;
		font-weight: bold;
		font-size: 25px;
		color: rgba(0,0,0,1);
	}
	#Component_13__4 {
		position: absolute;
		width: 474px;
		height: 491px;
		left: 1371px;
		top: 148px;
		overflow: visible;
	}
	#Rectangle_17_cb {
		fill: rgba(255,255,255,1);
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_17_cb {
		position: absolute;
		overflow: visible;
		width: 474px;
		height: 491px;
		left: 0px;
		top: 0px;
	}
	#Rectangle_20_cc {
		fill: rgba(245,208,236,1);
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_20_cc {
		position: absolute;
		overflow: visible;
		width: 474px;
		height: 61px;
		left: 0px;
		top: 0px;
	}
	#Rectangle_21_cd {
		fill: rgba(255,255,255,1);
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_21_cd {
		position: absolute;
		overflow: visible;
		width: 474px;
		height: 62px;
		left: 0px;
		top: 61px;
	}
	#Rectangle_22_ce {
		fill: rgba(255,255,255,1);
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_22_ce {
		position: absolute;
		overflow: visible;
		width: 474px;
		height: 62px;
		left: 0px;
		top: 119px;
	}
	#Rectangle_23_cf {
		fill: rgba(255,255,255,1);
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_23_cf {
		position: absolute;
		overflow: visible;
		width: 474px;
		height: 62px;
		left: 0px;
		top: 179px;
	}
	#Rectangle_24_cg {
		fill: rgba(255,255,255,1);
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_24_cg {
		position: absolute;
		overflow: visible;
		width: 474px;
		height: 62px;
		left: 0px;
		top: 240px;
	}
	#Rectangle_25_ch {
		fill: rgba(255,255,255,1);
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_25_ch {
		position: absolute;
		overflow: visible;
		width: 474px;
		height: 62px;
		left: 0px;
		top: 299px;
	}
	#Asthma_Step {
		left: 3px;
		top: 73px;
		position: absolute;
		overflow: visible;
		width: 125px;
		white-space: nowrap;
		text-align: left;
		font-family: Adobe Clean;
		font-style: italic;
		font-weight: normal;
		font-size: 25px;
		color: rgba(0,0,0,1);
	}
	#ACT_Scores {
		left: 2px;
		top: 136px;
		position: absolute;
		overflow: visible;
		width: 109px;
		white-space: nowrap;
		text-align: left;
		font-family: Adobe Clean;
		font-style: italic;
		font-weight: normal;
		font-size: 25px;
		color: rgba(0,0,0,1);
	}
	#Peak_Flow_Variability {
		left: 3px;
		top: 196px;
		position: absolute;
		overflow: visible;
		width: 207px;
		white-space: nowrap;
		text-align: left;
		font-family: Adobe Clean;
		font-style: italic;
		font-weight: normal;
		font-size: 25px;
		color: rgba(0,0,0,1);
	}
	#FEV1FVC_ratio {
		left: 4px;
		top: 315px;
		position: absolute;
		overflow: visible;
		width: 148px;
		white-space: nowrap;
		text-align: left;
		font-family: Adobe Clean;
		font-style: italic;
		font-weight: normal;
		font-size: 25px;
		color: rgba(0,0,0,1);
	}
	#GP_Address_cm {
		left: 4px;
		top: 363px;
		position: absolute;
		overflow: visible;
		width: 112px;
		white-space: nowrap;
		text-align: left;
		font-family: Adobe Clean;
		font-style: italic;
		font-weight: normal;
		font-size: 25px;
		color: rgba(0,0,0,1);
	}
	#FEV1 {
		left: 4px;
		top: 254px;
		position: absolute;
		overflow: visible;
		width: 47px;
		white-space: nowrap;
		text-align: left;
		font-family: Adobe Clean;
		font-style: italic;
		font-weight: normal;
		font-size: 25px;
		color: rgba(0,0,0,1);
	}
	#Component_13__5 {
		position: absolute;
		width: 474px;
		height: 361px;
		left: 1371px;
		top: 671px;
		overflow: visible;
	}
	#Rectangle_25_cp {
		fill: rgba(255,255,255,1);
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_25_cp {
		position: absolute;
		overflow: visible;
		width: 474px;
		height: 62px;
		left: 0px;
		top: 299px;
	}
	#Rectangle_17_cq {
		fill: rgba(255,255,255,1);
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_17_cq {
		position: absolute;
		overflow: visible;
		width: 474px;
		height: 361px;
		left: 0px;
		top: 0px;
	}
	#Rectangle_20_cr {
		fill: rgba(245,208,236,1);
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_20_cr {
		position: absolute;
		overflow: visible;
		width: 474px;
		height: 61px;
		left: 0px;
		top: 0px;
	}
	#Rectangle_21_cs {
		fill: rgba(255,255,255,1);
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_21_cs {
		position: absolute;
		overflow: visible;
		width: 474px;
		height: 62px;
		left: 0px;
		top: 61px;
	}
	#Rectangle_22_ct {
		fill: rgba(255,255,255,1);
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_22_ct {
		position: absolute;
		overflow: visible;
		width: 474px;
		height: 62px;
		left: 0px;
		top: 119px;
	}
	#Rectangle_23_cu {
		fill: rgba(255,255,255,1);
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_23_cu {
		position: absolute;
		overflow: visible;
		width: 474px;
		height: 125px;
		left: 0px;
		top: 179px;
	}
	#Overall_Doses {
		left: 7px;
		top: 74px;
		position: absolute;
		overflow: visible;
		width: 135px;
		white-space: nowrap;
		text-align: left;
		font-family: Adobe Clean;
		font-style: italic;
		font-weight: normal;
		font-size: 25px;
		color: rgba(0,0,0,1);
	}
	#Doses_on_Time {
		left: 8px;
		top: 135px;
		position: absolute;
		overflow: visible;
		width: 143px;
		white-space: nowrap;
		text-align: left;
		font-family: Adobe Clean;
		font-style: italic;
		font-weight: normal;
		font-size: 25px;
		color: rgba(0,0,0,1);
	}
	#Symptoms {
		left: 7px;
		top: 195px;
		position: absolute;
		overflow: visible;
		width: 103px;
		white-space: nowrap;
		text-align: left;
		font-family: Adobe Clean;
		font-style: italic;
		font-weight: normal;
		font-size: 25px;
		color: rgba(0,0,0,1);
	}
	#Frequency_of_Symptoms {
		left: 8px;
		top: 316px;
		position: absolute;
		overflow: visible;
		width: 233px;
		white-space: nowrap;
		text-align: left;
		font-family: Adobe Clean;
		font-style: italic;
		font-weight: normal;
		font-size: 25px;
		color: rgba(0,0,0,1);
	}
	#History {
		left: 1385px;
		top: 693px;
		position: absolute;
		overflow: visible;
		width: 86px;
		white-space: nowrap;
		text-align: left;
		font-family: Helvetica Neue;
		font-style: normal;
		font-weight: bold;
		font-size: 25px;
		color: rgba(0,0,0,1);
	}
	#Asthma_Details {
		left: 1379px;
		top: 163px;
		position: absolute;
		overflow: visible;
		width: 181px;
		white-space: nowrap;
		text-align: left;
		font-family: Helvetica Neue;
		font-style: normal;
		font-weight: bold;
		font-size: 25px;
		color: rgba(0,0,0,1);
	}
	#GP_Practise {
		left: 741px;
		top: 163px;
		position: absolute;
		overflow: visible;
		width: 159px;
		white-space: nowrap;
		text-align: left;
		font-family: Helvetica Neue;
		font-style: normal;
		font-weight: bold;
		font-size: 25px;
		color: rgba(0,0,0,1);
	}
	#Path_17 {
		fill: rgba(245,208,236,1);
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Path_17 {
		overflow: visible;
		position: absolute;
		width: 1px;
		height: 1px;
		left: 1428.5px;
		top: 93.5px;
		transform: matrix(1,0,0,1,0,0);
	}
