	/* set initial properties for the web view */
	.mediaViewInfo {
		--web-view-name: Login page;
		--web-view-id: Login_page;
		--web-scale-on-resize: true;
		--web-enable-deep-linking: true;
	}
	:root {
		--web-view-ids: Login_page;
	}
	/* Universal reset styles. Maintain consistency and avoid default browser styling */
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		border: none;
		font-family: 'Trebuchet MS';
	}
	/* Styles for the main container of the log in page. */
	#Login_page {
		position: absolute;
		width: 1881px;
		height: 1056px;
		background-color: rgba(255,255,255,1);
		overflow: hidden;
		--web-view-name: Login page;
		--web-view-id: Login_page;
		--web-scale-on-resize: true;
		--web-enable-deep-linking: true;
	}

	/* Adding the background components */
	#Component_9__1 {
		position: absolute;
		width: 1054.883px;
		height: 724.086px;
		left: 0px;
		top: -343.043px;
		overflow: visible;
	}
	#Rectangle_5 {
		fill: rgba(231,240,252,1);
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_5 {
		position: absolute;
		overflow: visible;
		width: 1813.883px;
		height: 800px;
		left: 0px;
		top: 202.086px;
	}
	#Path_2 {
		fill: rgba(245,210,237,1);
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: round;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Path_2 {
		overflow: visible;
		position: absolute;
		width: 720.092px;
		height: 1249.051px;
		left: 944.754px;
		top: 201.086px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Ellipse_1 {
		fill: rgba(245,210,237,1);
	}
	.Ellipse_1 {
		position: absolute;
		overflow: visible;
		width: 1090px;
		height: 996px;
		left: 964.883px;
		top: 728.086px;
	}
	#Ellipse_2 {
		fill: rgba(245,210,237,1);
	}
	.Ellipse_2 {
		position: absolute;
		overflow: visible;
		width: 368px;
		height: 1131px;
		left: 1586.883px;
		top: 95.086px;
	}
	#Ellipse_3 {
		fill: rgba(245,210,237,1);
	}
	.Ellipse_3 {
		position: absolute;
		overflow: visible;
		width: 217px;
		height: 156px;
		left: 1529.689px;
		top: 616.086px;
	}
	#Ellipse_4 {
		fill: rgba(245,210,237,1);
	}
	.Ellipse_4 {
		position: absolute;
		overflow: visible;
		width: 331px;
		height: 350px;
		left: 956.465px;
		top: 1272.086px;
	}
	#Path_3 {
		fill: rgba(231,240,252,1);
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Path_3 {
		overflow: visible;
		position: absolute;
		width: 371.003px;
		height: 568.131px;
		left: 1352.337px;
		top: 201.586px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Ellipse_5 {
		fill: rgba(231,240,252,1);
	}
	.Ellipse_5 {
		width: 57px;
		height: 874.809px;
		position: absolute;
		overflow: visible;
		transform: translate(0px, 0px) matrix(1,0,0,1,1558.3828,-51.3618) rotate(32deg);
		transform-origin: center;
	}
	#puffer_cartoon {
		position: absolute;
		/* width: 704px;
		height: 540px;
		left: 1171.734px;
		top: 909.086px; */
		bottom:0;
		right:-250px;
		overflow: visible;
	}

	/* Title */
	#Welcome_Back_please_log_in {
		left: 148.616px;
		top: 406px;
		position: absolute;
		overflow: visible;
		width: 495px;
		white-space: nowrap;
		text-align: left;
		font-family: 'Trebuchet MS';
		font-style: normal;
		font-weight: bold;
		font-size: 37px;
		color: rgba(0,0,0,1);
	}

	/* Fill in fro email and password */
	#Line_11 {
		fill: transparent;
		stroke: rgba(0,0,0,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Line_11 {
		overflow: visible;
		position: absolute;
		width: 539.539px;
		height: 1px;
		left: 148.616px;
		top: 624.5px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Line_3 {
		fill: transparent;
		stroke: rgba(0,0,0,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Line_3 {
		overflow: visible;
		position: absolute;
		width: 539.539px;
		height: 1px;
		left: 148.616px;
		top: 778.5px;
		transform: matrix(1,0,0,1,0,0);
	}


	#Component_23__1 {
		position: absolute;
		width: 539.384px;
		height: 393px;
		left: 148.616px;
		top: 569px;
		overflow: visible;
	}
	#Email {
		position: absolute;
		width: 499.804px;
		height: 55.5px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#johnsgmailcom {
		opacity: 0;
		left: 0.384px;
		top: 0px;
		position: absolute;
		overflow: visible;
		width: 279px;
		white-space: nowrap;
		text-align: left;
		font-family: 'Trebuchet MS';
		font-style: italic;
		font-weight: normal;
		font-size: 35px;
		color: rgba(0,0,0,1);
	}
	#check {
		opacity: 0;
		position: absolute;
		width: 30px;
		height: 30.002px;
		left: 469.804px;
		top: 16.999px;
		overflow: visible;
	}
	
	#Email_Address{
		fill: transparent;
		left: 0px;
		top: 3px;
		position: absolute;
		overflow: visible;
		width: 379px;
		white-space: nowrap;
		text-align: left;
		font-family: 'Trebuchet MS';
		font-style: italic;
		font-weight: normal;
		font-size: 35px;
		color: rgba(0,0,0,1);
		background-color: transparent; 
		border-width: 0px;
		border: none;
		outline: none;
		width: 503.851px;
	}
	#Password {
		position: absolute;
		width: 501.304px;
		height: 54.5px;
		left: 0px;
		top: 162.5px;
		overflow: visible;
		background-color: transparent; 
		border-width: 0px;
		border: none;
		outline: none;
		width: 503.851px;
	}
	#Password_bj {
		position: absolute;
		width: 501.304px;
		height: 47px;
		left: 0px;
		top: 0px;
		overflow: visible;
		background-color: transparent; 
		border-width: 0px;
		border: none;
		outline: none;
		width: 503.851px;
		background-color: transparent; 
		border-width: 0px;
		border: none;
		outline: none;
		width: 503.851px;
	}
	#Password_be {
		fill: transparent;
		left: 0px;
		top: 0px;
		position: absolute;
		overflow: visible;
		width: 347px;
		white-space: nowrap;
		text-align: left;
		font-family: 'Trebuchet MS';
		font-style: italic;
		font-weight: normal;
		font-size: 35px;
		color: rgba(0,0,0,1);
		background-color: transparent; 
		border-width: 0px;
		border: none;
		outline: none;
		width: 503.851px;
	}

	#Path_12_bn {
		fill: rgba(0,0,0,1);
	}
	.Path_12_bn {
		overflow: visible;
		position: absolute;
		width: 22.5px;
		height: 18px;
		left: 10.5px;
		top: 3.01px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Show {
		opacity: 0;
		left: 364.384px;
		top: 0.5px;
		position: absolute;
		overflow: visible;
		width: 83px;
		white-space: nowrap;
		text-align: left;
		font-family: 'Trebuchet MS';
		font-style: italic;
		font-weight: normal;
		font-size: 35px;
		color: rgba(0,0,0,1);
	}
	#Text {
		opacity: 0;
		left: 0.384px;
		top: 7.5px;
		position: absolute;
		overflow: visible;
		width: 104px;
		white-space: nowrap;
		text-align: left;
		font-family: 'Trebuchet MS';
		font-style: italic;
		font-weight: normal;
		font-size: 35px;
		color: rgba(0,0,0,1);
	}
	#sgdwasc {
		opacity: 0;
		left: 0.384px;
		top: 0.5px;
		position: absolute;
		overflow: visible;
		width: 126px;
		white-space: nowrap;
		text-align: left;
		font-family: 'Trebuchet MS';
		font-style: italic;
		font-weight: normal;
		font-size: 35px;
		color: rgba(0,0,0,1);
	}
	#Hide {
		opacity: 0;
		left: 364.384px;
		top: 0.5px;
		position: absolute;
		overflow: visible;
		width: 71px;
		white-space: nowrap;
		text-align: left;
		font-family: 'Trebuchet MS';
		font-style: italic;
		font-weight: normal;
		font-size: 35px;
		color: rgba(0,0,0,1);
	}
	#Rectangle_50_bt {
		fill: url(#Rectangle_50_bt);
	}
	.Rectangle_50_bt {
		position: absolute;
		overflow: visible;
		width: 539px;
		height: 96px;
		left: 0.384px;
		top: 297px;
	}

	/* Adding the buttons */
	#Login {
		position: absolute;
		width: 539px;
		height: 96px;
		left: 0.384px;
		top: 297px;
		overflow: visible;
	}
	#Rectangle_50_bt {
		fill: url(#Rectangle_50_bt);
	}
	.Rectangle_50_bt {
		position: absolute;
		overflow: visible;
		width: 539px;
		height: 96px;
		left: 0.384px;
		top: 297px;
	}
	#Login {
		position: absolute;
		width: 539px;
		height: 96px;
		left: 0.384px;
		top: 297px;
		overflow: visible;
	}
	#Rectangle_49_bw {
		fill: url(#Rectangle_49_bw);
	}
	.Rectangle_49_bw {
		position: absolute;
		overflow: visible;
		width: 539px;
		height: 96px;
		left: 0px;
		top: 0px;
	}
	#Login_bx {
		left: 0px;
		top: 24px;
		position: absolute;
		overflow: visible;
		width: 539px;
		white-space: nowrap;
		text-align: center;
		font-style: normal;
		font-weight: bold;
		font-size: 37px;
		color: rgba(0,0,0,1);
		background-color: transparent; 
	}
 
	/* Button hovering and change of colour */
	#Login:hover #Rectangle_49_bw{
		fill:transparent;
        fill: url(#blueGradient); 
	}
	#Forgot_Password:hover  {
	    color: white;	
	}
	
	#Login:hover #Login_bx {
		fill:transparent;
	    color: white; 
	}

	#error{
		left: 148.616px;
		top: 475px;
		position: absolute;
		overflow: visible;
		width: 495px;
		white-space: nowrap;
		text-align: left;
		font-family: 'Trebuchet MS';
		font-style: normal;
		font-weight: bold;
		font-size: 37px;
		color: rgb(255, 0, 0);
	}