	.mediaViewInfo {
		--web-view-name: Web 1920 – 14;
		--web-view-id: Web_1920__14;
		--web-scale-on-resize: true;
		--web-enable-deep-linking: true;
	}
	:root {
		--web-view-ids: Web_1920__14;
	}
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		border: none;
	}
	#Web_1920__14 {
		position: absolute;
		width: 1920px;
		height: 1268px;
		background-color: rgba(231,240,252,1);
		overflow: hidden;
		--web-view-name: Web 1920 – 14;
		--web-view-id: Web_1920__14;
		--web-scale-on-resize: true;
		--web-enable-deep-linking: true;
	}
	@keyframes  {
	
	
	}
	@keyframes  {
	
	
	}
	@keyframes  {
	
	
	}
	#Group_5 {
		position: absolute;
		width: 638px;
		height: 71px;
		left: 641px;
		top: 93px;
		overflow: visible;
	}
	#Rectangle_55 {
		fill: rgba(187,191,193,1);
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_55 {
		position: absolute;
		overflow: visible;
		width: 638px;
		height: 71px;
		left: 0px;
		top: 0px;
	}
	#Asthma_Logbook_ {
		left: 217px;
		top: 20px;
		position: absolute;
		overflow: visible;
		width: 170px;
		white-space: nowrap;
		--web-animation: fadein undefineds undefined;
		--web-action-type: page;
		--web-action-target: Logbook.html;
		cursor: pointer;
		text-align: left;
		font-family: Helvetica Neue;
		font-style: normal;
		font-weight: bold;
		font-size: 20px;
		color: rgba(255,255,255,1);
	}
	#Group_6 {
		position: absolute;
		width: 639px;
		height: 71px;
		left: 1281px;
		top: 93px;
		overflow: visible;
	}
	#Rectangle_55_u {
		fill: rgba(187,191,193,1);
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_55_u {
		position: absolute;
		overflow: visible;
		width: 639px;
		height: 71px;
		left: 0px;
		top: 0px;
	}
	#Home {
		left: 300px;
		top: 24px;
		position: absolute;
		overflow: visible;
		width: 58px;
		white-space: nowrap;
		text-align: left;
		font-family: Helvetica Neue;
		font-style: normal;
		font-weight: bold;
		font-size: 20px;
		color: rgba(255,255,255,1);
	}
	#Icon_awesome-home {
		fill: rgba(255,255,255,1);
	}
	.Icon_awesome-home {
		overflow: visible;
		position: absolute;
		width: 28.709px;
		height: 24.042px;
		left: 258.006px;
		top: 23.479px;
		transform: matrix(1,0,0,1,0,0);
		--web-animation: fadein undefineds undefined;
		--web-action-type: page;
		--web-action-target: Web_1920___7.html;
		cursor: pointer;
	}
	#Line_16 {
		fill: transparent;
		stroke: rgba(112,112,112,1);
		stroke-width: 3px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Line_16 {
		overflow: visible;
		position: absolute;
		width: 3px;
		height: 71px;
		left: 1281px;
		top: 93px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Rectangle_13 {
		fill: rgba(112,112,112,1);
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_13 {
		position: absolute;
		overflow: visible;
		width: 1920px;
		height: 93px;
		left: 0px;
		top: 0px;
	}
	#Component_14__4 {
		position: absolute;
		width: 160px;
		height: 36px;
		left: 1742px;
		top: 30px;
		overflow: visible;
	}
	#My_Account_ {
		left: 0px;
		top: 2px;
		position: absolute;
		overflow: visible;
		width: 141px;
		white-space: nowrap;
		text-align: left;
		font-family: Adobe Clean;
		font-style: normal;
		font-weight: bold;
		font-size: 27px;
		color: rgba(255,255,255,1);
	}
	#Icon_awesome-user-alt {
		fill: rgba(255,255,255,1);
	}
	.Icon_awesome-user-alt {
		overflow: visible;
		position: absolute;
		width: 27px;
		height: 27px;
		left: 1703.3px;
		top: 33px;
		transform: matrix(1,0,0,1,0,0);
		--web-animation: fadein undefineds undefined;
		--web-action-type: page;
		--web-action-target: Logbook.html;
		cursor: pointer;
	}
	#Koffing {
		left: 103px;
		top: 19px;
		position: absolute;
		overflow: visible;
		width: 112px;
		white-space: nowrap;
		text-align: left;
		font-family: Adobe Clean;
		font-style: normal;
		font-weight: bold;
		font-size: 37px;
		color: rgba(255,255,255,1);
	}
	#STATS_PAGE_ {
		left: 862px;
		top: 321px;
		position: absolute;
		overflow: visible;
		width: 197px;
		white-space: nowrap;
		text-align: left;
		font-family: Adobe Clean;
		font-style: normal;
		font-weight: bold;
		font-size: 37px;
		color: rgba(0,0,0,1);
	}
	#Include_info_about_best_place_ {
		left: 525px;
		top: 644px;
		position: absolute;
		overflow: visible;
		width: 769px;
		white-space: nowrap;
		text-align: left;
		font-family: Adobe Clean;
		font-style: normal;
		font-weight: bold;
		font-size: 35px;
		color: rgba(0,0,0,1);
	}
	#Component_30__4 {
		position: absolute;
		width: 641px;
		height: 71px;
		left: 0px;
		top: 93px;
		overflow: visible;
	}
	#Rectangle_53 {
		fill: rgba(187,191,193,1);
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_53 {
		position: absolute;
		overflow: visible;
		width: 641px;
		height: 71px;
		left: 0px;
		top: 0px;
	}
	#Air_Quality_Info_ {
		left: 250px;
		top: 23px;
		position: absolute;
		overflow: visible;
		width: 148px;
		white-space: nowrap;
		text-align: left;
		font-family: Helvetica Neue;
		font-style: normal;
		font-weight: bold;
		font-size: 20px;
		color: rgba(255,255,255,1);
	}
	#Group_4 {
		position: absolute;
		width: 21px;
		height: 10.5px;
		left: 555.5px;
		top: 35px;
		overflow: visible;
	}
	#Line_14 {
		fill: transparent;
		stroke: rgba(255,255,255,1);
		stroke-width: 2px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Line_14 {
		overflow: visible;
		position: absolute;
		width: 12.345px;
		height: 11.479px;
		left: 10px;
		top: 0.5px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Line_15 {
		fill: transparent;
		stroke: rgba(255,255,255,1);
		stroke-width: 2px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Line_15 {
		overflow: visible;
		position: absolute;
		width: 12.381px;
		height: 11.946px;
		left: 0px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#puffer {
		position: absolute;
		width: 82px;
		height: 89px;
		left: 6px;
		top: 4px;
		overflow: visible;
	}
	#Path_20 {
		fill: rgba(0,0,0,0);
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Path_20 {
		overflow: visible;
		position: absolute;
		width: 1px;
		height: 1px;
		left: 6.5px;
		top: 584.5px;
		transform: matrix(1,0,0,1,0,0);
	}
