#Title{
    font-family: Adobe Clean;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
}

#input {
    width: 200px;
    height: 40px;
    font-family: Adobe Clean;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    color: rgba(70,69,69,1);
    border-color: black;
    background-color: white;
}

#label{
    font-family: Adobe Clean;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    color: rgba(70,69,69,1);
}
#submit {
    position: absolute;
    width: 200px;
    height: 40px;
    text-align: center;
    font-family: Adobe Clean;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: rgba(70,69,69,1);
    border-radius: 20px;
    border-color: black;
    background-color: white;
}