<!DOCTYPE html>
<!-- These pages are referenced from adobe_xd, with modifications made to css and html code  -->
<!-- All JavaScript added (except adobe_xd.js) is not referenced and is fully original work-->
<html>
<head>
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Koffing</title>
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename = 'css/Initial_Page.css')}}" />
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
<!-- Adding dynamics to the page using Java scripts-->
<script id="applicationScript" src="{{ url_for('static', filename='script/adobe_xd.js') }}" defer></script>
</head>
<body>
<div id="Initial_Page">
	<!-- Title and subheading -->
	<div id="WELCOME_TO_KOFFING__An_Imperia">
		<span>WELCOME TO KOFFING</span><br/><span style="font-family:Impact;font-style:normal;font-weight:normal;font-size:27px;"> </span><span style="font-style:normal;font-weight:normal;font-size:35px;">An Imperial College London based web app offering a novel approach to asthma tracking</span><span style="font-family:Impact;font-style:normal;font-weight:normal;font-size:27px;"> </span>
	</div>

	<!-- Adding dynamics to the page using Java Script-->
	<div onclick="application.goToTargetView(event)" id="LogIn_Button" class="LogIn_Button">
		<div id="Component_2__1" class="Component_2___1">
			<svg class="Rectangle_7">
				<rect id="Rectangle_7" rx="42.5" ry="42.5" x="0" y="0" width="436.673" height="85">
				</rect>
			</svg>
			
		</div>
		<div id="Log_In">
			<span>Log In</span>
		</div>
	</div>
	<!-- Adding the buttons -->
	<div id="Account_Button" class="Account_Button">
		<svg class="Rectangle_9">
			<rect id="Rectangle_9" rx="35" ry="35" x="0" y="0" width="436.672" height="85">
			</rect>
		</svg>
		
		<!-- Adding dynamics to the page using Java Script-->
		<div onclick="application.goToTargetView(event)" id="Create_Account_">
			<span>Create Account </span>
		</div>
	</div>
	<svg>
		<defs>
			<!-- Adding the gradient colour for hobvering button -->
			<linearGradient id="blueGradient" x1="0%" y1="0%" x2="100%" y2="0%">
				<stop offset="0%" style="stop-color:#b6d0ff;"/>
				<stop offset="100%" style="stop-color:#7a9bea;"/>
			</linearGradient>
		</defs>
		
	</svg>
	<div id="Text">
		<span></span>
	</div>
	<!-- Add the two images -->
	<img id="Asthma" src="../static/images/Asthma.png">
		
	<img id="puffer_cartoon" src="../static/images/puffer_cartoon.png">
		
</div>
</body>
<!-- End of reference-->
</html>
