<html>
  <head>
    <title>Air Quality Map</title>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>

    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename = 'css/style.css')}}" />
    {% comment %} <script type="module" src="{{ url_for('static',filename='script/map.js') }}"></script> {% endcomment %}
    <script type="module" src="{{ url_for('static', filename='script/map.js') }}" defer></script>

  </head>
  <body>
    <h1>Air Quality Map</h1>
    <div id="map"></div>

    <!-- 
      The `defer` attribute causes the callback to execute after the full HTML
      document has been parsed. For non-blocking uses, avoiding race conditions,
      and consistent behavior across browsers, consider loading using Promises.
      See https://developers.google.com/maps/documentation/javascript/load-maps-js-api
      for more information.
      -->
    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD_oSOX6WnFcid5aYkNEcNIKeBQwcmzBio&callback=initMap&v=weekly"
      defer
    ></script>
  </body>
</html>