<!DOCTYPE html>
<html>
<head>

    <title> Update Details</title>
    <h1> Update your Details:</h1>
    <form action="/logbook" method="POST">
        <!-- Add label and input fields  -->
		<label for="phone_number">Phone Number: </label><br>
        <input type="text" id="phone_number" name="phone_number"><br> <br>
        <label for="dob">Date of Birth: </label><br>
        <input type="date" id="dob" name="dob"><br> <br>
        <label for="address">Address: </label><br>
        <input type="text" id="address" name="address"><br> <br>
        <label for="gp_name">GP Name: </label><br>
        <input type="text" id="gp_name" name="gp_name"><br> <br>
        <label for="gp_surname">GP Surname: </label><br>
        <input type="text" id="gp_surname" name="gp_surname"><br> <br>
        <label for="gp_code">GP Surgery Code: </label><br>
        <input type="text" id="gp_code" name="gp_code"><br> <br>
        <label for="gp_phone_number">GP Phone Number: </label><br>
        <input type="text" id="gp_phone_number" name="gp_phone_number"><br> <br>
        <label for="gp_address">GP Address: </label><br>
        <input type="text" id="gp_address" name="gp_address"><br> <br>
        <input type="submit" id="update_details_form" name="update_details_form" value="Submit">
    </form>

</head>
</html>

